body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
*{
    box-sizing: border-box;
  }
  
 .signup{
  margin-left: 33%;
  margin-right: 33%;
  position: fixed;
 }
 h1{
  margin-left: 30%;
    font-size: 260%;
    font-weight: bolder;
    margin-top:-2%;
 }
 p {
    text-align: center;
    font-size: 90%;
    margin-top: -5%;
}
.cont{
  display: flex;
  flex-direction: column;
}
div#cont1 {
  margin-top: -3%;
}
  .container {
    padding: 16px;
    background-color: white;
  }
  
  input[type=text],input[type=tel],input[type=email] ,input[type=password] {
     width: 100%;
    height: 3em;
    padding-bottom: 7%;
    padding: 6px 8px;
    box-sizing: border-box;
    background: #f1f1f1;
    /* width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1; */
  }

  /* input[type=text] {
    width: 100%;
    height: 5%;
    padding: 6px 8px;
    box-sizing: border-box;
    background: #f1f1f1;
  }
  input[type=email] {
    width: 38%;
    height: 5%;
    padding: 6px 8px;
    box-sizing: border-box;
    background: #f1f1f1;
  }
  input[type=tel] {
    width: 38%;
    height: 5%;
    padding: 6px 8px;
    box-sizing: border-box;
    background: #f1f1f1;
  }
  input[type=password] {
    width: 38%;
    height: 5%;
    padding: 6px 8px;
    box-sizing: border-box;
    background: #f1f1f1;
  }
   */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  label.form-label {
    font-weight: bolder;
}
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: -7px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-top: 1em;
  }
  
  .registerbtn:hover 
  {
    opacity: 1;
  }
  
  a{
    color: dodgerblue;
  }
  
  .signin {
    margin-top:-7%;
    background-color: #f1f1f1;
    text-align: center;
  }
  .alert{z-index:2;
    margin-left: 19em;
    margin-top: -173%;
    background-color: rgb(207, 7, 7);
    width: 29%;
    height: 10%;
}
.alert1{z-index:1;
  margin-top: -173%;
  margin-left: 19em;
    background-color:green;
    width: 29%;
    height: 10%;
}
.box_signin p{
  margin-top:4%;
}